.genre {
    font-size: 18px;
    color: var(--text-light);
}

.genre select {
    margin-left: 5px;
    background: none;
    border: none;
    font-size: 18px;
    color: var(--text-light);
}

.opt{
    background-color: var(--bg-color-2);
}

.genre select:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}


