.search {
    display: flex;

}


.search input {
    border: 1px solid var(--text-dark);
    border-radius: 10px 0 0 10px;
    background: var(--bg-color-3);
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 0 6px var(--shadow-light);
    width: 25vw;
    height: 30px;

    padding-left: 10px;
    color: var(--text-light);
}

.search button {
    border: none;
    -webkit-box-shadow: inset 0 0 8px var(--shadow-dark);
    border-radius: 0 10px 10px 0;
    background: var(--bg-color-2);
    box-sizing: border-box;

    height: 30px;
    width: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    color: var(--text-dark);
}