.all{
    padding: 20px 100px;
    height: 100%;

    color: var(--text-light);

    display: flex;
    flex-wrap: wrap;

    align-items: start;
    justify-content: space-between;
    row-gap: 15px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.poster{
    z-index: 1;
}


/*.topMovies{*/
/*    z-index: 2;*/
/*    background: var(--shadow-light);*/
/*    height: 300px;*/
/*    width: 20vw;*/
/*    margin-bottom: 50%;*/
/*}*/